{% extends "admin_panel/admin_panel_base.html" %}

{% block panel_content %}

<h4>Admin Users</h4>
<p>This page is used to manage Admin users.</p>

<div class="card p-3 mb-3 shadow-sm">
    <h5>Admin Users ({{admin_user_count}})</h5>
    
    <!-- 添加搜索框 -->
    <form method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search admin users" value="{{ search_query }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <!-- 显示users列表 -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-md-table-cell">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for admin_user in admin_users %}
                <tr>
                    <td>{{ admin_user.get_full_name }}</td>
                    <td class="d-none d-md-table-cell">{{ admin_user.email }}</td>
                    <td>
                        {% if admin_user.username != request.user.username %}
                            <a href="{% url 'admin_panel_user_information' username=admin_user.username %}" class="btn btn-outline-primary btn-sm">Edit</a>
                        {% else %}
                            <span class="text-muted">You</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


