{% extends "base.html" %}
{% load static %}

{% block body %}
<link href="{% static 'css/club_dashboard.css' %}" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <!-- 侧边栏 -->
    <!-- <div class="col-md-3 col-lg-2 bg-dark text-white vh-100 sticky-top" style="top: 63px;"> -->
    <!-- <div class="col-md-3 col-lg-2 bg-dark text-white sticky-top" style="top: 63px; height: calc(100vh - 63px);"> -->
    <div class="col-md-3 col-lg-2 bg-dark text-white sticky-top">
      <div class="d-flex flex-column flex-shrink-0 p-3">
        <ul class="nav nav-pills flex-column mb-auto">
        
          <li class="mb-3 name">
            <h3>Club Dashboard</h3>
          </li>

          <li class="nav-item">
            <a href="{% url 'club_dashboard_general' %}" 
               class="nav-link text-white {% if request.resolver_match.url_name == 'club_dashboard_general' %}active{% endif %}">
               <i class="bi bi-gear me-2"></i>
              General
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'club_dashboard_members' %}" 
               class="nav-link text-white {% if request.resolver_match.url_name == 'club_dashboard_members' %}active{% endif %}">
              <i class="bi bi-people me-2"></i>
              Members
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'club_dashboard_news' %}" 
               class="nav-link text-white {% if request.resolver_match.url_name == 'club_dashboard_news' %}active{% endif %}">
               <i class="bi bi-newspaper me-2"></i>
               News
            </a>
          </li>
          
          <li class="nav-item">
            <a href="{% url 'club_dashboard_events' %}" 
               class="nav-link text-white {% if request.resolver_match.url_name == 'club_dashboard_events' %}active{% endif %}">
               <i class="bi bi-calendar-event me-2"></i> 
               Events
            </a>
          </li>

        </ul>
      </div>
    </div>

    <!-- 主内容 -->
    <!-- <main class="col-md-9 col-lg-10 p-4 position-relative" style="left: 16.6666666%; width: calc(83.33333333% - 30px); padding-top: 20px !important;"> -->
    <main class="col-md-9 col-lg-10 p-4 position-relative">
    <!-- <main class="col-md-10 col-lg-10 p-4 position-relative" style="left: 15%; width: 85%; padding: 20px 25px !important;"> -->
        <div class="mb-4">
            <h1>Club Name</h1>
        </div>

        <div class="d-flex justify-content-between border-bottom mb-4">
        <h2>{% block dashboard_title %}Dashboard{% endblock %}</h2>
        </div>
        
        {% block dashboard_content %}
        <!-- 动态内容区域 -->
        {% endblock %}
    </main>


  </div>
</div>
{% endblock %}