{% extends "base.html" %}
{% load static %}

{% block body %}
  <!-- 输出 CKEditor 的媒体文件 -->
  {{ form.media }}
  <h2>新建博客文章</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}:</label>
        {{ field }}
      </div>
    {% endfor %}
    <div class="row justify-content-center">
      <input type="submit" class="btn btn-info btn-lg" value="提交">
    </div>
  </form>
  <a href="{% url 'forum_system:blog_list' %}" class="btn btn-secondary mt-3">返回列表</a>
{% endblock %}
