{% extends 'club_manager/club_manager_base.html' %}

{% block manager_content %}
<h4>Edit Event</h4>
<p>Edit Event.</p>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="title">活动标题:</label>
        <input type="text" id="title" name="title" value="{{ event.title }}" required>
    </div>
    <div>
        <label for="description">活动描述:</label>
        <textarea id="description" name="description">{{ event.description }}</textarea>
    </div>
    <div>
        <label for="event_time">活动时间:</label>
        <input type="datetime-local" id="event_time" name="event_time" value="{{ event.event_time|date:'Y-m-d\\TH:i' }}" required>
    </div>
    <div>
        <label for="location">活动地点:</label>
        <input type="text" id="location" name="location" value="{{ event.location }}" required>
    </div>
    <button type="submit">更新活动</button>
</form>
{% endblock %}


