{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container mt-5 mb-4">
    <!-- 标题 -->
    <div class="d-flex justify-content-between align-items-center">
        <h2>Club Management - {{ club.name }}</h2>
        <!-- <a href="{% url 'logout' %}" class="btn btn-primary">Sign Out</a> -->
    </div>
    <!-- <p class="text-muted">Manage Club setting.</p> -->

    <!-- <div class="d-flex align-items-center">
      <div class="ms-3 mt-4">
          <h3>{{ club.name }}</h3>
      </div>
    </div> -->

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'club_manager_general' club_id=club_id %}" class="list-group-item list-group-item-action">
                    General
                </a>
                <a href="{% url 'club_manager_members' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Members
                </a>
                <a href="{% url 'club_manager_news' club_id=club_id %}" class="list-group-item list-group-item-action">
                    News
                </a>
                <a href="{% url 'club_manager_events' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Events
                </a>
            </div>
        </div>

        <!-- 主内容 -->
        <div class="col-md-8">
          {% block manager_content %}
          <!-- 动态内容区域 -->
          {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
