{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
    /* 为所有控件添加圆角样式 */
    .card, .form-control, .list-group {
      border-radius: 12px;
    }
</style>

<div class="container mt-5 mb-4">
    <!-- 标题 -->
    <div class="d-flex justify-content-between align-items-center">
        <h2>Club Management - {{ club.name }}</h2>
    </div>

    <div class="row mt-4 gy-3">
        <!-- 侧边菜单栏 -->
        <div class="col-md-3">
            <div class="list-group" style="border-radius: 12px;">
                <a href="{% url 'club_manager_general' club_id=club_id %}" class="list-group-item list-group-item-action">
                    General
                </a>
                <a href="{% url 'club_manager_members' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Members
                </a>
                <a href="{% url 'club_manager_news' club_id=club_id %}" class="list-group-item list-group-item-action">
                    News
                </a>
                <a href="{% url 'club_manager_events' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Events
                </a>
                <a href="{% url 'club_manager_dashboard' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Dashboard
                </a>
            </div>
        </div>

        <!-- 主内容 -->
        <div class="col-md-9">
            <!-- 错误信息框样式  -->
            <style>
                .alert-error {
                    background-color: #f8d7da;
                    color: #721c24;
                    border-color: #f5c6cb;
                }
            </style>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-2">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block manager_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
