{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container mt-5 mb-4">
    <!-- 标题 -->
    <div class="d-flex justify-content-between align-items-center">
        <h2>Club Management - {{ club.name }}</h2>
    </div>

    <div class="row mt-4 gy-3">
        <!-- 侧边菜单栏 -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'club_manager_general' club_id=club_id %}" class="list-group-item list-group-item-action">
                    General
                </a>
                <a href="{% url 'club_manager_members' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Members
                </a>
                <a href="{% url 'club_manager_news' club_id=club_id %}" class="list-group-item list-group-item-action">
                    News
                </a>
                <a href="{% url 'club_manager_events' club_id=club_id %}" class="list-group-item list-group-item-action">
                    Events
                </a>
            </div>
        </div>

        <!-- 主内容 -->
        <div class="col-md-9">
          {% block manager_content %}
          <!-- 动态内容区域 -->
          {% endblock %}
        </div>
    </div>
</div>

{% endblock %}