{% extends "club_manager/club_manager_base.html" %}

Members

{% block manager_content %}

<!-- 错误信息框样式  -->
<style>
  .alert-error {
      background-color: #f8d7da;
      color: #721c24;
      border-color: #f5c6cb;
  }
  </style>
  
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mt-2">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <h4>Members</h4>
  <p>Manage Club managers and members.</p>

  <div class="mb-4">
    <div class="card p-3 mb-3">
      <h5>Club managers</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for manager in managers %}
            <tr>
              <td>{{ manager.user.get_full_name }}</td>
              <td>{{ manager.user.email }}</td>
              <td>
                {% if manager.user != user %}
                  <form method="post" action="{% url 'remove_manager' club_id=club_id username=manager.user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove Manager</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <div class="mb-4">
    <div class="card p-3 mb-3">
      <h5>Club members</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for muggle in muggles %}
            <tr>
              <td>{{ muggle.user.get_full_name }}</td>
              <td>{{ muggle.user.email }}</td>
              <td>
                {% if muggle.user != user %}
                  <form method="post" action="{% url 'set_manager' club_id=club_id username=muggle.user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Set Manager</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  
  {% endblock %}

