{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">{{ club.name }}</h1>
        </div>

        <div class="col-md-8">
            <p>{{ club.description }}</p>
        </div>

        <!-- 右侧信息栏 -->
        <div class="col-md-4">

            <!-- club基础信息 -->
            <div class="card bg-light mb-3">
                <div class="card-header">Club Information</div>
                <div class="card-body">
                    <div class="mb-3">
                        <h5 class="card-title">Number of members of the club:</h5>
                        <h6>{{ member_count }}</h6>
                    </div>
                    <h5 class="card-title">Managers:</h5>
                    <ul class="list-unstyled">
                        {% for manager in managers %}
                            <div class="mb-3">
                                <h6>{{ manager.user.first_name }} {{ manager.user.last_name }}</h6>
                                <h7><i class="fas fa-envelope email-icon"></i> {{ manager.user.email }}</h7>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- 加入club, 互动部分 -->
            <div class="card bg-light mb-3">

                <div class="card-header">Join us</div>
                <div class="card-body">
                    <h5>We welcome different people to join us!!!!</h5>

                    <!-- 动态按钮 -->
                    <div class="d-flex justify-content-center mt-5">
                        {% if user.is_authenticated %}
                            <!-- 当前用户登录时 -->
                            {% if user in club.members.all %}
                                <!-- 如果此用户是club成员 -->
                                 {% if is_manager %}
                                    <p>
                                        You are the club manager, you can manage this club in <a href="{% url 'club_manager_general' club_id=club.club_id %}" class="btn btn-link p-0">club manager page</a>.
                                    </p>
                                 {% else %}
                                    <a href="{% url 'cancel_membership' club_id=club.club_id %}" class="btn btn-danger btn-lg rounded-pill w-100">
                                        Cancel Membership
                                    </a>
                                 {% endif %}
                            {% else %}
                                <!-- 如果此用户不是club成员 -->
                                <a href="{% url 'register_membership' club_id=club.club_id %}" class="btn btn-primary btn-lg rounded-pill w-100">
                                    Register Membership
                                </a>
                            {% endif %}
                        {% else %}
                            <!-- 当前用户未登录时 -->
                            <!-- 可点击的文字按钮 -->
                            <p>
                                <a href="{% url 'login' %}" class="btn btn-link p-0">Login</a> or 
                                <a href="{% url 'signup' %}" class="btn btn-link p-0">registration</a> is required before registering for membership.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}