{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">Club List</h1>

    <!-- This section is responsible for traversing the data in the Club database and displaying the / 这一部分负责将Club数据库中的数据遍历出来并展示 -->
    <div class="row">
        {% for club in clubs %}
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ club.name }}</h5>
            <p class="card-text">{{ club.description }}</p>
            <a href="{% url 'club_detail' club_id=club.club_id %}" class="btn btn-primary">Details</a>
          </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}
