{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
    /* Add rounded corners to all controls */
    .card, .form-control, .list-group {
      border-radius: 12px;
    }
</style>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Account Dashboard</h2>
            <a href="{% url 'logout' %}" class="btn btn-primary">Sign Out</a>
        </div>
        <p class="text-muted">Manage your account settings, security, and personal information.</p>
    
        <div class="d-flex align-items-center">
            <div class="rounded-circle bg-light d-flex justify-content-center align-items-center" 
                 style="width: 80px; height: 80px;">
                <i class="fas fa-user fa-2x text-secondary"></i>
            </div>
            <div class="ms-3">
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            </div>
        </div>
    
        <div class="row mt-4 gy-3">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="{% url 'dashboard_personal_information' %}" class="list-group-item list-group-item-action">
                        Personal Information
                    </a>
                    <!-- The following content will only appear if the user is not admin -->
                    {% if user.account_type == 'User' %}
                        <a href="{% url 'dashboard_my_club' %}" class="list-group-item list-group-item-action">
                            My Club
                        </a>
                        <a href="{% url 'dashboard_my_requests' %}" class="list-group-item list-group-item-action">
                            My Requests
                        </a>
                    {% endif %}
                </div>
            </div>
    
            <div class="col-md-8">
                <!-- Error message box style  -->
                <style>
                    .alert-error {
                        background-color: #f8d7da;
                        color: #721c24;
                        border-color: #f5c6cb;
                    }
                </style>

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-2">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                {% block dashboard_content %}
                <!-- Dynamic content area -->
                {% endblock %}       
            </div>
        </div>
    </div>
    
{% endblock %}
